*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1f1f1;
}
.tab{
    width: 960px;
    height: 480px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    .line{
        width: 0%;
        height: 10px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 50;
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
    .left{
        width: 50px;
        height: 100%;
        z-index: 25;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0,0,0.2);
        &::after{
            content: '';
            width: 14px;
            height: 5px;
            background: white;
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%) rotate(45deg);
            transform-origin: left center;
        }
        &::before{
            content: '';
            width: 14px;
            height: 5px;
            background: white;
            position: absolute;
            left: 50%;
            top:50.6%;
            transform: translate(-50%,-50%) rotate(-45deg);
            transform-origin: left center;
        }
    }
    .right{
        cursor: pointer;
        width: 50px;
        height: 100%;
        z-index: 25;
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(0, 0,0,0.2);
        &::after{
            content: '';
            width: 14px;
            height: 5px;
            background: white;
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%) rotate(45deg);
            transform-origin: right center;
        }
        &::before{
            content: '';
            width: 14px;
            height: 5px;
            background: white;
            position: absolute;
            left: 50%;
            top:49.8%;
            transform: translate(-50%,-50%) rotate(-45deg);
            transform-origin: right center;
        }
    }
    ol{
        z-index: 20;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 6px;
        list-style: none;
        li{
            float: left;
            width: 16px;
            height: 16px;
            cursor: pointer;
            border-radius: 50%;
            background-color: #aaaaaa;
            margin: 0 10px;
            transform: scale(1);
            transition: all .3s;
            &.active{
                transform: scale(1.5);
            }
        }
    }
}
.tab ul{
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    transition: .5s;
    li{
        height: 100%;
        width: 960px;
        float: left;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}